<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">



    <title>Play around with VUE</title>

</head>

<!-- v-model="allSelected" -->
<!-- @change="filterOnRepublicans" -->

<body>
    <div id="app">
    <h2>Vue.js</h2>

    <label for ="republicanFilter">click to filter on republicans</label>
    <input @click= "filterOnRepublicans" type="checkbox"   name="republicanFilter">
    <!-- <span>Checked names: {{ checkedNames | json }}</span> -->

    

    <br>
    <br>

        <div class="d-flex justify-content-center pb-5">
            <table class="table table-striped table-hover w-75">
                <thead>

                    <tr class="underline">
                        <th id="thstijl1">
                            Senator
                        </th>

                        <th id="thstijl2">
                            Party
                        </th>
                        <th id="thstijl3">
                            State
                        </th>
                        <th id="thstijl4">
                            Years in office
                        </th>
                        <th id="thstijl5">
                            %votes w/party
                        </th>
                    </tr>
                </thead>
                <tbody id="table-data">
                    <tr v-for="member in members">
                        <th scope="row">{{ member.first_name }}</th>
                        <td>{{ member.party}}</td>
                        <td>{{ member.state}}</td>
                        <td>{{ member.seniority}}</td>
                        <td>{{ member.votes_with_party_pct}}</td>
                    </tr>

                </tbody>
            </table>
        </div>


        <!--      
        {{message[0][0]}} -->

        <ul>
            <!-- <li v-for="msg in members">{{ msg }}</li> -->
            <!-- <p v bind = test[0]></p> -->

        </ul>




    </div>









    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="playWithVue.js"></script>






</body>


</html>

<!-- //everything i don't need// -->

<!-- <div id="app">
        <button v-on:click="pushNewColor"> Add Color</button>

        {{ message }} -->
<!-- <input type="text" v-model="message">



<ul>
    <li v-for="color in colors">
        {{color}}
    </li>
    <p v-if="colors.length > 5"> You have too many colors!</p>
</ul> -->

<!-- <p> {{ message }} </p> -->


<!-- <p>
    <button id="lol">Click Me!</button>
    </p> -->

<!-- 
    <div id="app-2">
        <span v-bind:title="message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title! {{ message }}
        </span>
      </div>
     <div id="app">
       
      </div> -->

<!-- <div id="app-3">
        <span v-if="seen">Now you see me</span>
      </div>
      -->



<!-- <script>
        const app = new Vue ({
            el: "#app",
            data: {
                message: "Hello World",
                colors: ["red", "green", "blue"]
            },
            methods: {
              sayHelloWorld() {
                  this.message = "Hello World"
              },
              pushNewColor() {
                  this.colors.push(this.message)
              }
            } 
        })


    </script> -->