<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    
    <title>Play around with VUE</title>

    <style>
        .rep {
            background: red;
        }
        .dem {
            background: green;
        }
        .ind {
            background: yellow;
        }
    </style>

</head>



<body>
    <div id="app">
    <h2>Vue.js</h2>

    <label for ="republicanFilter">click to filter on republicans</label>
    <input type="checkbox" value="republicanFilter" v-model="isChecked" name="republicanFilter">
    <label for ="democratFilter">click to filter on democrats</label>
    <input type="checkbox" value="democratFilter"  v-model="isChecked" name="democratFilter">
    <label for ="independentFilter">click to filter on independents</label>
    <input type="checkbox" value="independentFilter"  v-model="isChecked" name="independentFilter">
   

    <!-- v-model="state" -->


    <select v-model="selected">
        <option v-for="option in members" v-bind:value="option.state">
            {{ option.state }}
        </option>
      </select>
      

    

    <br>
    <br>

        <div class="d-flex justify-content-center pb-5">
            <table class="table table-striped table-hover w-75">
                <thead>

                    <tr class="underline">
                        <th id="thstijl1">
                            Senator
                        </th>

                        <th id="thstijl2">
                            Party
                        </th>
                        <th id="thstijl3">
                            State
                        </th>
                        <th id="thstijl4">
                            Years in office
                        </th>
                        <th id="thstijl5">
                            %votes w/party
                        </th>
                    </tr>
                </thead>
                <tbody id="table-data">
                    <tr v-for="member in filteredMembers" class="table-row" :class="{rep : member.party == 'R', dem : member.party == 'D', ind : member.party == 'I'}">
                        <th scope="row">{{ member.first_name}} {{(member.middle_name || "")}} {{ member.last_name }}</th>
                        <td>{{ member.party}}</td>
                        <td>{{ member.state}}</td>
                        <td>{{ member.seniority}}</td>
                        <td>{{ member.votes_with_party_pct}}</td>
                    </tr>
                    

                </tbody>
            </table>
        </div>

                </tbody>
            </table>
        </div>



        <ul>


        </ul>




    </div> 









    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="playWithVue.js"></script>






</body>


</html>

